In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
drink_data=pd.read_csv(r'C:\Users\user\Downloads\beer-servings.csv')

In [5]:
drink_data.head()

,Unnamed: 0,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,0,Afghanistan,0.0,0.0,0.0,0.0,Asia
1,1,Albania,89.0,132.0,54.0,4.9,Europe
2,2,Algeria,25.0,0.0,14.0,0.7,Africa
3,3,Andorra,245.0,138.0,312.0,12.4,Europe
4,4,Angola,217.0,57.0,45.0,5.9,Africa

In [6]:
drink_data.isnull().sum()

Unnamed: 0                      0
country                         0
beer_servings                   8
spirit_servings                 8
wine_servings                   6
total_litres_of_pure_alcohol    1
continent                       0
dtype: int64

In [7]:
drink_data.drop('Unnamed: 0',axis=1,inplace=True)

In [8]:
drink_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 185 non-null    float64
 2   spirit_servings               185 non-null    float64
 3   wine_servings                 187 non-null    float64
 4   total_litres_of_pure_alcohol  192 non-null    float64
 5   continent                     193 non-null    object
dtypes: float64(4), object(2)
memory usage: 9.2+ KB

### Filling Missing values

In [9]:
num_cols=drink_data[['beer_servings','spirit_servings','wine_servings','total_litres_of_pure_alcohol']]

In [10]:
num_cols.isnull().sum()

beer_servings                   8
spirit_servings                 8
wine_servings                   6
total_litres_of_pure_alcohol    1
dtype: int64

In [11]:
from sklearn.impute import SimpleImputer

In [12]:
miss_values=SimpleImputer(missing_values=np.nan,strategy='mean')

In [13]:
miss_values=miss_values.fit(num_cols)
num_cols=miss_values.transform(num_cols)

In [14]:
num_cols=pd.DataFrame(num_cols,columns=[['beer_servings','spirit_servings','wine_servings','total_litres_of_pure_alcohol']])

In [15]:
num_cols.isnull().sum()

beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
dtype: int64

In [16]:
drink_data.drop(['beer_servings','spirit_servings','wine_servings','total_litres_of_pure_alcohol'],axis=1,inplace=True)

In [17]:
drink_data.head()

       country continent
0  Afghanistan      Asia
1      Albania    Europe
2      Algeria    Africa
3      Andorra    Europe
4       Angola    Africa

In [18]:
drink_data=pd.concat([drink_data,num_cols],axis=1)

In [19]:
drink_data.head()

,country,continent,"(beer_servings,)","(spirit_servings,)","(wine_servings,)","(total_litres_of_pure_alcohol,)"
0,Afghanistan,Asia,0.0,0.0,0.0,0.0
1,Albania,Europe,89.0,132.0,54.0,4.9
2,Algeria,Africa,25.0,0.0,14.0,0.7
3,Andorra,Europe,245.0,138.0,312.0,12.4
4,Angola,Africa,217.0,57.0,45.0,5.9

#### Method 2

In [179]:
drink_data=pd.read_csv(r'C:\Users\user\Downloads\beer-servings.csv')
drink_data.drop(['Unnamed: 0'],axis=1,inplace=True)

In [180]:
for i in ['beer_servings','spirit_servings','wine_servings','total_litres_of_pure_alcohol']:
    drink_data[i]=drink_data[i].fillna(drink_data[i].median())

In [181]:
drink_data.isnull().sum()

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

### Managing Outliers

#### Beer Servings

In [182]:
Q1=np.percentile(drink_data['beer_servings'],25,interpolation='midpoint')
Q2=np.percentile(drink_data['beer_servings'],50,interpolation='midpoint')
Q3=np.percentile(drink_data['beer_servings'],75,interpolation='midpoint')

In [183]:
print(Q1,Q2,Q3)

21.0 76.0 171.0

In [184]:
drink_data['beer_servings'].median()

76.0

In [185]:
IQR=Q3-Q1

In [186]:
low_limit=Q1-1.5*IQR
up_limit=Q3+1.5*IQR

In [187]:
outlier_beer=[]
for i in drink_data['beer_servings']:
    if((i>up_limit)or(i<low_limit)):
        outlier_beer.append(i)

In [188]:
print(outlier_beer)

[]

#### spirit_servings

In [189]:
Q1=np.percentile(drink_data['spirit_servings'],25,interpolation='midpoint')
Q2=np.percentile(drink_data['spirit_servings'],50,interpolation='midpoint')
Q3=np.percentile(drink_data['spirit_servings'],75,interpolation='midpoint')

In [190]:
IQR=Q3-Q1
low_limit=Q1-1.5*IQR
up_limit=Q3+1.5*IQR

In [191]:
outlier_spirit=[]
for i in drink_data['spirit_servings']:
    if((i>up_limit)or(i<low_limit)):
        outlier_spirit.append(i)

In [192]:
print(outlier_spirit)

[373.0, 438.0, 326.0, 326.0, 315.0]

In [193]:
ind=drink_data['spirit_servings']>up_limit

In [194]:
drink_data.loc[ind].index

Int64Index([15, 68, 73, 141, 144], dtype='int64')

#### wine_servings

In [195]:
Q1=np.percentile(drink_data['wine_servings'],25,interpolation='midpoint')
Q2=np.percentile(drink_data['wine_servings'],50,interpolation='midpoint')
Q3=np.percentile(drink_data['wine_servings'],75,interpolation='midpoint')

In [196]:
IQR=Q3-Q1
low_limit=Q1-1.5*IQR
up_limit=Q3+1.5*IQR
print(low_limit,up_limit)

-86.0 146.0

In [197]:
outlier_wine=[]
for i in drink_data['wine_servings']:
    if((i>up_limit)or(i<low_limit)):
        outlier_wine.append(i)

In [198]:
print(outlier_wine)

[312.0, 221.0, 212.0, 191.0, 212.0, 172.0, 254.0, 278.0, 233.0, 370.0, 149.0, 175.0, 218.0, 185.0, 165.0, 237.0, 271.0, 190.0, 175.0, 339.0, 167.0, 276.0, 186.0, 280.0, 195.0, 220.0]

In [199]:
ind=drink_data['wine_servings']>up_limit

In [200]:
drink_data.loc[ind].index

Int64Index([  3,   6,   8,   9,  16,  35,  42,  48,  55,  61,  64,  65,  67,
             75,  81,  83,  99, 120, 121, 136, 140, 156, 165, 166, 182, 185],
           dtype='int64')

#### total_litres_of_pure_alcohol

In [201]:
Q1=np.percentile(drink_data['total_litres_of_pure_alcohol'],25,interpolation='midpoint')
Q2=np.percentile(drink_data['total_litres_of_pure_alcohol'],50,interpolation='midpoint')
Q3=np.percentile(drink_data['total_litres_of_pure_alcohol'],75,interpolation='midpoint')

In [202]:
IQR=Q3-Q1
low_limit=Q1-1.5*IQR
up_limit=Q3+1.5*IQR
print(low_limit,up_limit)

-7.550000000000002 16.05

In [203]:
outlier_alcohol=[]
for i in drink_data['total_litres_of_pure_alcohol']:
    if((i>up_limit)or(i<low_limit)):
        outlier_alcohol.append(i)

In [204]:
print(outlier_alcohol)

[]

In [205]:
drink_data.drop([15, 68, 73, 141, 144],inplace=True)
drink_data.drop([  3,   6,   8,   9,  16,  35,  42,  48,  55,  61,  64,  65,  67,
             75,  81,  83,  99, 120, 121, 136, 140, 156, 165, 166, 182, 185],inplace=True)

In [206]:
drink_data.head(35)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0.0,0.0,0.0,0.00,Asia
1,Albania,89.0,132.0,54.0,4.90,Europe
2,Algeria,25.0,0.0,14.0,0.70,Africa
4,Angola,217.0,57.0,45.0,5.90,Africa
5,Antigua & Barbuda,102.0,128.0,45.0,4.90,North America
7,Armenia,21.0,179.0,11.0,3.80,Europe
10,Azerbaijan,21.0,46.0,5.0,1.30,Europe
11,Bahamas,122.0,176.0,51.0,6.30,North America
12,Bahrain,42.0,63.0,7.0,2.00,Asia
13,Bangladesh,76.0,60.0,9.0,4.25,Asia
14,Barbados,143.0,173.0,36.0,6.30,North America
17,Belize,263.0,114.0,8.0,6.80,North America
18,Benin,34.0,4.0,13.0,1.10,Africa
19,Bhutan,23.0,0.0,0.0,0.40,Asia
20,Bolivia,167.0,41.0,8.0,3.80,South America
21,Bosnia-Herzegovina,76.0,173.0,8.0,4.60,Europe
22,Botswana,173.0,35.0,35.0,5.40,Africa
23,Brazil,245.0,145.0,16.0,7.20,South America
24,Brunei,31.0,2.0,1.0,0.60,Asia
25,Bulgaria,231.0,252.0,94.0,10.30,Europe
26,Burkina Faso,25.0,60.0,7.0,4.30,Africa
27,Burundi,88.0,0.0,0.0,6.30,Africa
28,Cote d'Ivoire,37.0,1.0,7.0,4.00,Africa
29,Cabo Verde,144.0,56.0,16.0,4.00,Africa
30,Cambodia,57.0,65.0,1.0,2.20,Asia
31,Cameroon,147.0,1.0,4.0,5.80,Africa
32,Canada,240.0,122.0,100.0,8.20,North America
33,Central African Republic,17.0,2.0,1.0,1.80,Africa
34,Chad,15.0,1.0,1.0,0.40,Africa
36,China,79.0,192.0,8.0,5.00,Asia
37,Colombia,76.0,76.0,3.0,4.20,South America
38,Comoros,1.0,3.0,1.0,0.10,Africa
39,Congo,76.0,1.0,9.0,1.70,Africa
40,Cook Islands,0.0,254.0,74.0,5.90,Oceania
41,Costa Rica,149.0,87.0,11.0,4.40,North America